<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Maintain page</title>
    </head>
    <body>
        {{>header}}
        <p>There are some issues in our website, we are now trying to solve it</p>
        {{>footer}}
    </body>
</html>